* {
    margin: 0;
    padding: 0;
    
}
html {
    height: 100%;
}
@font-face {
    font-family: 'CustomHeading';
    src: url('./fonts/opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.otf') format('woff2'),             /* Super Modern Browsers */
         url('./fonts/opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.otf') format('woff'),              /* Pretty Modern Browsers */
         url('./fonts/opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.otf') format('truetype'),          /* Safari, Android, iOS */
         url('./fonts/opendyslexic-0.91.12/compiled/OpenDyslexic-Regular.otf') format('svg');               /* Legacy iOS */
}
body {
    /* background-color: rgb(77, 77, 77); */
    background: rgb(0,0,0);
	background: radial-gradient(circle, rgb(77, 77, 77) 0%, rgba(91,32,32,1) 83%, rgba(252,90,90,1) 100%);

    background-size:cover;
    user-select: none;
    -webkit-user-select: none;
    font-family: 'CustomHeading';
}

.text-shadow {
    text-shadow: #ff5857 1px 0 10px;
	
}

.button-pause{
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    /* .button-pause > div {
        width: 7px;
        height: 30px;
        background: white;
    } */

    .button-pause > div:first-child {
        width: 0; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        
        border-left: 20px solid white;
        
    }

.button {
    width: 175px;
    height: 50px;
    font-size: 17px;
    margin-top: 30px;
    cursor: pointer;
    background-color: rgb(252, 90, 90);
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    box-shadow: 0px 0px 15px rgb(252, 90, 90);
}

.container {
    width: 100%;
}

.inner {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

    .form-username {
        width: 600px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    #game {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        display: none;
    }

    .game-name {
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 100px;
        color: white;
    }

    .recordBoard {
        width: 350px;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .recordBoard > h2 {
            font-weight: 600;
            margin-bottom: 20px;
        }

        .user-scores {
            
            margin-top: 50px;
            
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;     
            align-items: start;       
        }

            .outer {
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 200px;
                overflow: scroll;
                overflow-x: hidden;
                scrollbar-color: white rgb(252, 90, 90);
                scrollbar-width: thin;
            }

            .scores-history {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                
                width: 100%;
                
            }

            .user-scores h2 {
                text-align: center;
            }

        .score-record {

        }

        .huis-record {

        }

    .game-field {
        width: 100%;
        height: 200px;
        background-color: rgb(31, 31, 31);
        display: flex;
        position: relative;
        overflow: hidden;
        background-image: url('./images/background.png');
        background-size: contain;
        z-index: -1;
        box-shadow: 0px 0px 15px rgb(252, 90, 90);
    }

        .conv {
            width: 100%;
            height: 28%;
            align-self: flex-end;
            position: absolute;
            z-index: 0;
        }
        .conv-background {
            width: 100%;
            height: 28%;
            align-self: flex-end;
            position: absolute;
            z-index: 0;
        }

        .door {
            height: 100%;
            align-self: end;
            position: absolute;
            order:10;
            z-index: 2;
        }

            .door > img {
                width: 43px;
                height: 100%;
            }

    :root {
        --hui-color: rgb(255, 224, 189);
    }

        .hui {
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            align-self: end;
            z-index: 1;
        }

            .hui > img {
                width: 100%;
            } 

    .score-board {
        transition: 0.2s;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 20px;
    }
        .huis-counter, .score {
            transition: 0.2s;
        }

    .stamina-background {
        left: 43px;
        width: 200px;
        height: 20px;
        position: relative;
        background-color: #fa7e7c;
        z-index: 1;
    }

    .stamina-background-lowStamina {
        left: 43px;
        width: 75px;
        height: 20px;
        position: absolute;
        background-color: #ff6c6c;
        z-index: 1;
    }
	
    .stamina-indicator {
        left: 43px;
        width: 200px;
        height: 20px;
        position: absolute;
        background-color: #ff5857;
        z-index: 1;
    }

    .stamina {
		overflow: hidden;
		position: absolute;
		left: 43px;
		width: 200px;
		

		border-left: none;
		transition: 0.1s;
        z-index: 2;
	}

        .stamina img {
            width: 100%;
            height: 100%;
        }




.records {
    width: 400px;
    text-align: center;
    margin-top: 50px;
    color: white;
}
    .records h2 {
        font-weight: 600;
        margin-bottom: 20px;
    }

    .records-table {
        width: 100%;
    }

        .record-box {
            width: 100%;
            display: flex;
            flex-direction: column;
        }   
            .table-head {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

            .user-score {
                border-bottom: 1px solid white;
                width: 100%;
                display: flex;
                justify-content: space-between;
            }

                .t-pos {
                    flex: 1 1;
                    text-align: left;
                }

                .t-name {
                    flex: 3 3;
                    text-align: left;
                }

                .t-huis {
                    flex: 2 2;
                    text-align: center;
                }

                .t-score {
                    flex: 2 2;
                    text-align: center;
                }

.form-username {
    color: white;
}

    #username {
        margin-top: 20px;
        width: 300px;
        height: 40px;
        font-size: 25px;
        text-align: center;    
       
    }

    #username:focus {
        outline: none;
    }

    .inscr {
        
    }

    #login {

    }

    .game {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


@media screen and (max-width: 1200px) {
    #game {
        flex-direction: column;
        margin-top: 200px;
    }

    .game {
        order: 0;
    }

    .recordBoard {
        margin-top: 50px;
        order: 1;
    }

    .records {
        order: 2;
    }
}