* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(77, 77, 77);
    user-select: none;
}

button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    cursor: pointer;
    background-color: rgb(252, 90, 90);
    color: white;
}

.container {
    width: 100%;
}

.inner {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    padding-top: 200px;
}

    .recordBoard {
        color: white;
        text-align: center;
    }

        .recordBoard > h2 {
            font-weight: 400;
        }

        .score-record {

        }

        .huis-record {

        }

    .game-field {
        width: 100%;
        height: 200px;
        background-color: rgb(31, 31, 31);
        display: flex;
        position: relative;
        overflow: hidden;
        background-image: url('./images/background.png');
        background-size: contain;
        z-index: -1;
    }

        .conv {
            width: 100%;
            height: 28%;
            align-self: flex-end;
            position: absolute;
            z-index: 0;
        }

        .door {
            height: 100%;
            align-self: end;
            position: absolute;
            order:10;
            z-index: 2;
        }

            .door > img {
                width: 43px;
                height: 100%;
            }

    :root {
        --hui-color: rgb(255, 224, 189);
    }

        .hui {
            width: 90px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            align-self: end;
            z-index: 1;
        }

            .hui > img {
                width: 100%;
            } 

            /* .hui__head{
                width: 30px;
                height: 30px;
                background-color: rgb(247, 65, 101);
                border-radius: 20px 20px 0 0;
            }
            
            .hui__stick{
                width: 30px;
                height: 30px;
                background-color: var(--hui-color);
            }

            .hui__balls {
                width: 90px;
                height: 30px;
                background-color: var(--hui-color);
                border-radius: 20px;
            } */

    .score-board {
        transition: 0.2s;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        color: white;
        font-size: 20px;
    }
        .huis-counter, .score {
            transition: 0.2s;
        }

	.stamina {
		position: relative;
		left: 43px;
		width: 200px;
		height: 20px;
		border: rgb(255, 132, 183) 3px solid;
		background-color: #ffbeeb;
		border-left: none;
		border-bottom-right-radius: 40px;
		transition: 0.1s;
	}

		.stamina-indicator {
			width: 100%;
			height: 100%;
			background-color: rgb(255, 159, 199);
			border-bottom-right-radius: 40px;
		}
